/* navbar */
.navbar, .navbar-default {
    background-color: #192F43;
    height: 70px
}

/* log in form */
.loginForm {
    position:absolute;
    width: 500px;
    height: 400px;
    mix-blend-mode: luminosity;
    left: calc(50% - 513px/2 + 0.5px);
    top: calc(70% - 400px/2);
    background: rgba(25, 47, 67, 0.15);
    border: 1.5px solid #192F43;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: justify;
    border-radius: 25px;
    font-family: "Fraunces", sans-serif;

}

.emailInput { 
    position: absolute;
    width: 352px;
    height: 39px;
    left: calc(50% - 352px/2 + 0.5px);
    top: calc(70% - 67px/2 - 126.5px);
    border: 1px solid #192F43;
    border-radius: 3px;
}

.passInput {
    position: absolute;
    width: 352px;
    height: 39px;
    left: calc(50% - 352px/2 + 0.5px);
    top: calc(50% - 67px/2 + 0.5px);
    border: 1px solid #192F43;
    border-radius: 3px;
}

.checkbox {
    position: absolute;
    left: calc(50% - 352px/2 + 0.5px);
    top: calc(95% - 67px/2 - 126.5px);
    border: 1px transparent #192F43;
}

.rememberme {
    padding-inline-start: 10px;
}

h3 {

    text-align: center;
    position: relative;
    padding-top: 50px;
    font-family: "Fraunces", sans-serif;


}

.btn-login {
    position: absolute;
    width: 200px;
    color: white;
    background-color: #192F43;
    align-items: center;
    justify-content: center;
    height: 39px;
    left: calc(50% - 190px/2 + 1px);
    top: calc(50% - 67px/2 + 126.5px);
    font-family: "Fraunces", sans-serif;

}







 
